/*Ogólne ustawienia kontenerów*/
* {
    box-sizing: border-box;
  }

body{
    background-color: rgb(235, 237, 239);
    margin: 0;
}


[class*="bar-top"]{
    background-color: rgba(133, 15, 15, 0.962)
}

[class*="bar-top"]{
    display:flex;
    flex-direction: row;
}

[class*="ol-kat-"]{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center; 
    border-right: 2px solid rgb(111, 109, 109);
}




/*Ikonki*/

.col-top-1, .col-top-3, .col-top-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.col-top-1 > img{
    width: 100%;
    height: auto;
    max-height: 50px;
    min-height: 40px;
    min-width: 30px;
}



.col-top-3 > a > img, .col-top-4 > img {
    width: 100%;
    height: auto;
    max-height: 50px;
    min-height: 40px;
    min-width: 30px;
}

.col-top-3:hover, .col-top-4:hover {
    transform: scale(1.1);
    transition: 0.7s;
    filter: brightness(0) invert(1) grayscale(100%);
}

.glass{
    min-height: 6px;
    max-height: 30px;
}

/*wyszukiwarka*/

.wyszukiwarka_col-top-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin:0;
}

.searchBar{
    background-color: white;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
    margin-left: 15%;
}

.searchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    padding: 0;
    margin:0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.searchText{

    height: 100%;
    width: 90%;
    padding: 0;
    margin:0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search{
    height: 100%;
    width: 100%;
    border: none;
    font-size: large;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Pasek kategorii*/

[class*="kategorie col-2"]{
    background-color: rgb(85, 77, 77);
    color:rgb(236, 226, 226);
    font-size: calc(4px + 0.9vw);
}

/*Główny banner*/

[class*="main-banner col-3"]{
    min-height: 200px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class*="main-banner col-3"] img{
    max-width: 100%;
    height: auto; 
    min-height: 200px;
    max-height: 400px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}


/*Górny banner*/

[class*="dividing-banner-top col-6"]{
    min-height: 200px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class*="dividing-banner-top col-6"] img{
    max-width: 100%;
    height: auto; 
    min-height: 200px;
    max-height: 400px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

/*Środkowy banner*/

[class*="dividing-banner-mid col-8"]{
    min-height: 200px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class*="dividing-banner-mid col-8"] img{
    max-width: 100%;
    height: auto; 
    min-height: 200px;
    max-height: 400px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}


/*Banner dolny*/


[class*="dividing-banner-bot col-10"]{
    min-height: 200px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class*="dividing-banner-bot col-10"] img{
    max-width: 100%;
    height: auto; 
    min-height: 200px;
    max-height: 400px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}


/*Artykuły, nowości, premiery i bestsellery - skalowanie zawartosci divów*/

[class*="col-art"] img{
    width: 100%;
    height:auto;
    max-height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

[class*="col-art"]:hover{
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.3s;
    background-color: rgb(201, 202, 204);
}

[class*="col-new"] img{
    width: 100%;
    height: 100%;
    max-height: 150px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 10px;
}

[class*="col-new"]:hover{
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.3s;
    background-color: rgb(201, 202, 204);
}

[class*="col-prem"] img{
    width: 100%;
    height: 100%;
    max-height: 150px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 10px;
}

[class*="col-prem"]:hover{
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.3s;
    background-color: rgb(201, 202, 204);
}

[class*="col-best"] img{
    width: 100%;
    height: 100%;
    max-height: 150px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 10px;
}

[class*="col-best"]:hover{
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.3s;
    background-color: rgb(201, 202, 204);
}


/*Ustawienia sticky menu*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  header{
   z-index: 2000;
    margin-bottom: 5px;
}

/*Ustawienia scroll to top buttona*/

#topScrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(147, 9, 9);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    height: 100px;
    width: 100px;
  }
  
#topScrollButton:hover {
    background-color: #555;
}


#toggleDarkMode {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleDarkMode:hover {
    background-color: #555;
}


/*Responsywnosc*/


.col-1,.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-14, .col-15, .col-16 {
    width: 100%;
    margin: 0;
}

/*pasek nawigacyjny*/
.col-1{
    height: 10vh;
    min-height: 75px;
}

/*bannery*/
.col-3, .col-6, .col-8, .col-10{
    height: 15vh;
    min-height: 200px;
}

/*Tytuły sekcji*/

.col-12, .col-14, .col-15, .col-16{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    min-height: 100px;
    font-weight: 900;
    font-family: Candara Bold;
} 

/*top bar*/
.col-top-1{
    width: 20%;
}

.col-top-2{
    width: 40%;
}

.col-top-3{
    width: 20%;
}

.col-top-4{
    width: 20%;
}

[class*="col-t"] {
    padding: 15px;
    height: 100%;
}


/*main*/

/*artykuły*/


[class*="artykuly col-4"]{
    display:flex;
    flex-direction: row;
}

[class*="col-art"] {
    padding: 15px;
    height: 100%;
    width: 33.3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    word-wrap: break-word;
    text-align: center;
}

[class*="col-"] a{
    color: black;
    text-decoration: none;
}

[class*="col-"] a:visited{
    color: black;
    text-decoration: none;
}

.elementTitle{
    font-weight: 900;
    font-family: Candara Light;
}

[class*="desc"]{
    font-family: Candara Light;
}

/*premiery*/

[class*="premiery col-7"]{
    display:flex;
    flex-direction: row;
}


[class*="col-prem"] {
    padding: 15px;
    height: 100%;
    width: 33.3%;
    border: 1px solid #ccc;
}

/*recenzje*/

[class*="reviews col-11"]{
    display:flex;
    flex-direction: row;
}

[class*="col-rew"] {
    padding: 15px;
    height: 100%;
    width: 33.3%;
}

/*Tabela AJAX*/

.col-12{
    height: 10vh;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.col-12 button{
    height: 30%;
    width: 40%;
    background-color:  rgb(147, 9, 9);
    color: white;
    font-family:  Candara Light;
    font-size: calc(12px + 1.0vw);
    font-weight: 900;
}

.col-12 table{
    visibility: hidden;
    height: 0;
    width: 100%;
    font-size: calc(8px + 1.2vw);
    text-align: center;
    padding: 0;
    border-collapse: collapse;

}

.col-12 tr{
    border: 1px solid black;
    height: 20%;
    width: 100%;
}

.col-12 tr:hover{
    background-color: rgb(188, 189, 190);
}

.col-12 td, th {
    border: 1px solid black;
}

.col-12 th {
    background-color: #7c7a7a;
    color: white;
}

/* For mobile phones: */


    /*Font size dla tytułów sekcji*/

    .col-14, .col-15, .col-16{
        font-size: calc(10px + 1.3vw); ;
    }
   
    /*header*/

    /*Top bar*/

    .searchBar{
        display:none;
    }

    /*Kategorie*/
    [class*="kategorie col-2"] {
        display: none;
    }

    /*kategorie*/
    .col-2{
        height: 10vh;
        min-height: 60px;
    }

    /*Bannery*/
    
    [class*="main-banner col-3"]{
        overflow: hidden;
    }
    
    [class*="dividing-banner-top col-6"]{
        overflow: hidden;
    }
    
    [class*="dividing-banner-mid col-8"]{
        overflow: hidden;
    }
    
    [class*="dividing-banner-bot col-10"]{
        overflow: hidden;
    }

    /*main*/

    /*artykuły*/

    .col-4{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 10vh;
        min-height: 500px;
    }

    [class*="col-art"]{
        height: 33.3%;
        width: 100%;
        font-size:calc(10px + 1.5vw);
    }

    /*nowości*/

    .col-5{
        height: 15vh;
        min-height: 350px;
    }

    [class*="nowosci col-5"]{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nOne, .nTwo{
        height: 100%;
        width: 50%;
    }

    [class*="col-new"] {
        padding: 15px;
        height: 50%;
        width: 100%;
        border: 1px solid #ccc;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        word-wrap: break-word;
        text-align: center;
    }


    /*premiery*/

    .col-7{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 10vh;
        min-height: 330px;
    }

    [class*="col-prem"]{
        height: 33.3%;
        width: 100%;
        border: 1px solid #ccc;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        word-wrap: break-word;
        text-align: center;
    }

    /*bestsellery*/

    .col-9{
        height: 15vh;
        min-height: 700px;
    }

    [class*="bestsellery col-9"]{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .bOne, .bTwo, .bThree {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
      }

    [class*="col-best"] {
        padding: 15px;
        height: 100%;
        width: 50%;
        border: 1px solid #ccc;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        word-wrap: break-word;
        text-align: center;
    }

    /*recenzje*/

    .col-11{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 10vh;
        min-height: 330px;
    }

    [class*="col-rew"]{
        height: 33.3%;
        width: 100%;
    }

    /*footer*/

    .col-13{
        height: 10vh;
        min-height: 300px;
    }

    [class*="footer col-13"]{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    [class*="col-foot"] {
        padding: 15px;
        height: 50%;
        width: 100%;
    }   

    [class*="top col-foot"]{
        display:flex;
        flex-direction: column;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    [class*="bottom col-foot"]{
        display:flex;
        flex-direction: column;

    }


    .newsletterTop,  .newsletterBot, .contactTop, .contactBot{
        display:flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        text-align: center;
        font-family: Candara Bold;
    }

    .newsletterTopDesc{
        font-family: Segoe UI BLACK;
    }

    .newsletterBot{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50%;
        width: 100%;
    }

    .newsletterBotEmail{
        width: 100%;
        height: 30%;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: calc(8px + 1.1vw);
    }

    .newsletterBotInputButton{
        height: 30%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .newsletterBotNameInput, .newsletterBotButton{
        width: 45%;
        height: 100%;
        border-radius: 10px;
        font-size: calc(8px + 1.1vw);
    }

    .newsletterBotNameInput{
        width: 70%;
        margin-right: 10px;
        padding: 0px;
        
    }

    .newsletterBotButton{
        width: 30%;
        font-size: calc(6px + 1.1vw);
        background-color: rgb(60, 58, 58);
        color: #fff;
        font-weight: 900;
        font-size: calc(5px + 1.1vw);
    }
    .newsletterBotButton:hover{
        transform: scale(1.05);
        transition: 0.3s;
        background-color: rgb(86, 83, 83);
        color: #c5c5c5;
        animation: buttonAnimation 2s linear; 
        animation-iteration-count: 1;
    }

    /*Animacja kliknięcia przycisku*/

    .newsletterBotButton:active{
        background-color: rgb(234, 231, 12);
        color: #ffffff;
        border: 1px solid rgb(198, 195, 11);
        transform: scale(1.10);
        transition: 0.1s;

    }

    /*Metoda dla zmiany położenia przycisku po najechaniu na niego*/
    @keyframes buttonAnimation {
        0%, 100% {
          transform: translateX(0);
          background-color: rgb(104, 101, 101);
        }
        25% {
          transform: translateX(10px);
          background-color: rgb(157, 153, 153);
        }
        75% {
          transform: translateX(-10px);
          background-color: rgb(191, 183, 183);
        }
      }
    

    [class*="top col-foot"]{
        background-color: rgb(251, 185, 0)
    }

    .newsletterTop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: calc(10px + 1.1vw);
        color: #000;
    }

    .newsletterTitle{
        font-weight: 900;
        font-size: calc(14px + 1.1vw);
    }

    .newsletterTop > div{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    [class*="bottom col-foot"] {
        background-color: rgb(60, 58, 58);
    }

    [class*="bottom col-foot"] div{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        font-size: calc(10px + 1.1vw);
        color: #fff;
    }

    [class*="bottom col-foot"] div > div{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contactBot{
        border-top: #c1bebe solid 2px;
    }  





/* For tablets: */

@media only screen and (min-width: 600px) {
    
    /*header*/

    /*Top bar*/
    .searchBar{
        display:flex;
    }

    /*Kategorie*/
    [class*="kategorie col-2"] {
        display: none;
    }

    /*Bannery*/
    
    [class*="main-banner col-3"]{
        overflow: hidden;
    }

    [class*="dividing-banner-top col-6"]{
        overflow: hidden;
    }

    [class*="dividing-banner-mid col-8"]{
        overflow: hidden;
    }

    [class*="dividing-banner-bot col-10"]{
        overflow: hidden;
    }

    /*Kategorie*/

    /*top bar*/
    .col-top-1{
        width: 20%;
    }

    .col-top-2{
        width: 60%;
    }

    .col-top-3{
        width: 10%;
    }

    .col-top-4{
        width: 10%;
    }


    /*main*/

    
    /*artykuły*/

    .col-4{
        display:flex;
        flex-direction: row;
        height: 40vh;
        min-height: 160px;
    }

    [class*="col-art"]{
        height: 100%;
        width: 33.3%;
        font-size:calc(10px + 1.5vw);
    }

    /*nowości*/
    [class*="nowosci col-5"]{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nOne, .nTwo{
        height: 100%;
        width: 50%;
    }

    [class*="col-new"] {
        padding: 15px;
        height: 50%;
        width: 100%;
        border: 1px solid #ccc;
    }

    /*premiery*/

    .col-7{
        display:flex;
        flex-direction: row;
        height: 10vh;
        min-height: 200px;
    }

    [class*="col-prem"]{
        height: 100%;
        width: 33.3%;
        border: 1px solid #ccc;
        flex-direction: column;
    }

    /*bestsellery*/
    [class*="bestsellery col-9"]{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        min-height: 700px;
    }

    .bOne, .bTwo, .bThree {
        display: flex;
        width: 33.3%;
        flex-wrap: wrap;
      }

    [class*="col-best"] {
        padding: 15px;
        height: 50%;
        width: 100%;
        border: 1px solid #ccc;
    }

    /*recenzje*/

    .col-11{
        display:flex;
        flex-direction: row;
        height: 10vh;
        min-height: 200px;
    }

    [class*="col-rew"]{
        height: 100%;
        width: 33.3%;
    }

    /*footer*/
     
    [class*="footer col-13"]{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    [class*="col-foot"] {
        padding: 15px;
        height: 100%;
        width: 48%;
    }    

    [class*="top col-foot"]{
        display:flex;
        flex-direction: column;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
    }

    [class*="bottom col-foot"]{
        display:flex;
        flex-direction: column;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }


    .newsletterTop,  .newsletterBot, .contactTop, .contactBot{
        display:flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        text-align: center;
        font-family: Candara Bold;
    }

    .newsletterTopDesc{
        font-family: Segoe UI BLACK;
    }

    .newsletterBot{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50%;
        width: 100%;
    }

    .newsletterBotEmail{
        width: 100%;
        height: 30%;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: calc(8px + 1.1vw);
    }

    .newsletterBotInputButton{
        height: 30%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .newsletterBotNameInput, .newsletterBotButton{
        width: 45%;
        height: 100%;
        border-radius: 10px;
        font-size: calc(8px + 1.1vw);
    }

    .newsletterBotNameInput{
        width: 70%;
        margin-right: 10px;
        padding: 0px;
        
    }

    .newsletterBotButton{
        width: 30%;
        background-color: rgb(60, 58, 58);
        color: #fff;
        font-weight: 900;
        font-size: calc(5px + 1.1vw);
    }

    .newsletterBotButton:hover{
        transform: scale(1.05);
        transition: 0.3s;
        background-color: rgb(86, 83, 83);
        color: #c5c5c5;
        animation: buttonAnimation 2s linear; 
        animation-iteration-count: 1;
    }

    /*Animacja kliknięcia przycisku*/

    .newsletterBotButton:active{
        background-color: rgb(234, 231, 12);
        color: #ffffff;
        border: 1px solid rgb(198, 195, 11);
        transform: scale(1.10);
        transition: 0.1s;

    }

    /*Metoda dla zmiany położenia przycisku po najechaniu na niego*/
    @keyframes buttonAnimation {
        0%, 100% {
          transform: translateX(0);
          background-color: rgb(104, 101, 101);
        }
        25% {
          transform: translateX(10px);
          background-color: rgb(157, 153, 153);
        }
        75% {
          transform: translateX(-10px);
          background-color: rgb(191, 183, 183);
        }
      }

    [class*="top col-foot"]{
        background-color: rgb(251, 185, 0)
    }

    .newsletterTop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: calc(10px + 1.1vw);
        color: #000;
    }

    .newsletterTitle{
        font-weight: 900;
        font-size: calc(14px + 1.1vw);
    }

    .newsletterTop > div{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    [class*="bottom col-foot"] {
        background-color: rgb(60, 58, 58);
    }

    [class*="bottom col-foot"] div{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        font-size: calc(10px + 1.1vw);
        color: #fff;
    }

    [class*="bottom col-foot"] div > div{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contactBot{
        border-top: #c1bebe solid 2px;
    }  

}

/*For Desktop:*/

@media only screen and (min-width: 768px) {
    
    /*header*/

    /*Top bar*/
    .searchBar{
        display:flex;
    }

    .col-top-1{
        width: 10%;
    }

    .col-top-2{
        width: 60%;
    }

    .col-top-3{
        width: 10%;
    }

    .col-top-4{
        width: 10%;
    }

    .col-top-5{
        width: 10%;
    }

    /*Kategorie*/

    [class*="kategorie col-2"]{
        display:flex;
        flex-direction: row;
    }

    [class*="col-k"] {
        display: grid;
        padding: 15px;
        height: 100%;
        width: 10%;
    }

    
    [class*="col-k"] a > div {
        color: white;
    }

    /*Bannery*/

    [class*="main-banner col-3"]{
        height:400px;
    }

    [class*="dividing-banner-top col-6"]{
        height:400px;
    }

    [class*="dividing-banner-mid col-8"]{
        height:400px;
    }

    [class*="dividing-banner-bot col-10"]{
        height:400px;
    }


    /*main*/

    /*artykuły*/

    .col-4{
        display: flex;
        flex-direction: row;
        height: 10vh;
        min-height: 300px;
    }

    [class*="col-art"]{
        height: 100%;
        width: 33.3%;
        font-size:calc(10px + 1vw);
    }

    /*nowości*/

    .col-5{
        height: 15vh;
        min-height: 250px;
    }

    [class*="nowosci col-5"]{
        display:flex;
        flex-direction: row;
    }

    .nOne, .nTwo{
        height: 100%;
        width: 50%;
        display:flex;
        flex-direction: row;
    }

    [class*="col-new"] {
        padding: 15px;
        height: 100%;
        width: 50%;
        border: 1px solid #ccc;
    }

    /*premiery*/

    .col-7{
        display:flex;
        flex-direction: row;
        height: 10vh;
        min-height: 350px;
    }

    [class*="col-prem"]{
        height: 100%;
        width: 33.3%;
        min-height: 350px;
        border: 1px solid #ccc;
    }


    /*bestsellery*/

    .col-9{
        height: 15vh;
        min-height: 600px;
    }

    [class*="bestsellery col-9"]{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .bOne, .bTwo, .bThree {
        display: flex;
        width: 33.3%;
        flex-wrap: wrap;
      }

    [class*="col-best"] {
        padding: 15px;
        height: 50%;
        width: 100%;
        border: 1px solid #ccc;
    }

    .col-11{
        display:flex;
        flex-direction: row;
        height: 10vh;
        min-height: 200px;
    }

    [class*="col-rew"]{
        height: 100%;
        width: 33.3%;
    }


    /*footer*/

    [class*="footer col-13"]{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    [class*="col-foot"] {
        padding: 15px;
        height: 100%;
        width: 48%;
    }    

    [class*="top col-foot"]{
        display:flex;
        flex-direction: column;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
    }

    [class*="bottom col-foot"]{
        display:flex;
        flex-direction: column;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }


    .newsletterTop,  .newsletterBot, .contactTop, .contactBot{
        display:flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        text-align: center;
        font-family: Candara Bold;
    }

    .newsletterTopDesc{
        font-family: Segoe UI BLACK;
    }

    .newsletterBot{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50%;
        width: 100%;
    }

    .newsletterBotEmail{
        width: 100%;
        height: 30%;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: calc(8px + 1.1vw);
    }

    .newsletterBotInputButton{
        height: 30%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .newsletterBotNameInput, .newsletterBotButton{
        width: 45%;
        height: 100%;
        border-radius: 10px;
        font-size: calc(8px + 1.1vw);
    }

    .newsletterBotNameInput{
        width: 70%;
        margin-right: 10px;
        padding: 0px;
        
    }

    .newsletterBotButton{
        width: 30%;
        background-color: rgb(60, 58, 58);
        color: #fff;
        font-weight: 900;
        font-size: calc(5px + 1.1vw);
    }

    .newsletterBotButton:hover{
        transform: scale(1.05);
        transition: 0.3s;
        background-color: rgb(86, 83, 83);
        color: #c5c5c5;
        animation: buttonAnimation 2s linear; 
        animation-iteration-count: 1;
    }

    /*Animacja kliknięcia przycisku*/

    .newsletterBotButton:active{
        background-color: rgb(234, 231, 12);
        color: #ffffff;
        border: 1px solid rgb(198, 195, 11);
        transform: scale(1.10);
        transition: 0.1s;

    }

    /*Metoda dla zmiany położenia przycisku po najechaniu na niego*/
    @keyframes buttonAnimation {
        0%, 100% {
          transform: translateX(0);
          background-color: rgb(104, 101, 101);
        }
        25% {
          transform: translateX(10px);
          background-color: rgb(157, 153, 153);
        }
        75% {
          transform: translateX(-10px);
          background-color: rgb(191, 183, 183);
        }
      }

    [class*="top col-foot"]{
        background-color: rgb(251, 185, 0)
    }

    .newsletterTop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: calc(10px + 1.1vw);
        color: #000;
    }

    .newsletterTitle{
        font-weight: 900;
        font-size: calc(14px + 1.1vw);
    }

    .newsletterTop > div{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    [class*="bottom col-foot"] {
        background-color: rgb(60, 58, 58);
    }

    [class*="bottom col-foot"] div{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        font-size: calc(14px + 1.1vw);
        color: #fff;
    }

    [class*="bottom col-foot"] div > div{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contactBot{
        border-top: #c1bebe solid 2px;
    }
 
}


